.body {
    width: 90%;
    height: 100px;
    padding: 5px;
  font-family: "Arial", sans-serif;
  margin: 0 auto;
  text-align: center;
  background: radial-gradient(
    circle at 4.3% 10.7%,
    rgb(138, 118, 249) 13.6%,
    rgb(75, 252, 235) 100.7%
  );
    
}

.weather_container {
    position:relative;
    bottom: 22px;
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 70px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.city_name {
  font-size: 2em;
  margin-bottom: 2px;
  color: #2c3e50;
}

.temperature {
  font-size: 3em;
  margin-bottom: 20px;
  color: #e74c3c;
}

.degrees {
  font-size: 1em;
}

.current_time {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #7f8c8d;
}

.forecast_container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.forecast_day {
  flex: 1;
  padding: 15px;
  background-color: #93e9f5;
  border-radius: 10px;
  margin: 2px;
}

.day_name {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #180202;
}

.temp_range {
  font-size: 1.2em;
  color: #300404;
}

.forecast_day img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.details_container {
  display: flex;
  justify-content: space-around;
}

.detail_item {
  flex: 1;
  padding: 15px;
  background-color: #e1ec40;
  border-radius: 10px;
  margin-bottom: 20px;
  margin: 5px;
}

.detail_name {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #000000;
}

.detail_value {
  font-size: 1.5em;
  color: #000000;
}

.search_container {
    position: relative;
    margin-bottom: 20px;
}

.locationInput {
    position: relative;
    bottom: 30px;
    width: calc(100% - 40px);
    padding: 10px;
    margin-bottom: 0;
    font-size: 1em;
    border: 1px solid #4eb9e4;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .button {
    position: relative;
    bottom: 20px;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    background-color: #b8b0e0;
    box-shadow: 2px 2px 5px #3f193f36;
    font-size: 20px;
    font-weight: bold;
    vertical-align: bottom;
  }

  .button:hover {
    background-color: #3732a1d0;
    color: #fff;
  }

@media (max-width: 600px) {
  .weather_container {
    padding: 10px;
  }

  .forecast_container {
    flex-direction: column;
  }

  .forecast_day,
  .detail_item {
    margin-bottom: 15px;
  }

  .locationInput {
    margin-bottom: 10px;
  }
}
